.button {
    -fx-background-color: #e83c4b;
    -fx-font-family: "Bungee";
    -fx-font-size: 15;
    -fx-text-fill: #e3dbca;
    -fx-background-radius: 5px;
    -fx-padding: 5 10;
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: #1b1b18;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 2, 2);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
