.list-view {
    -fx-font-family: "Cambria";
    -fx-font-size: 14px;
    -fx-text-fill: #1b1b18;
    -fx-control-inner-background: #faf2ed;
    -fx-background-radius: 10px;
}

.list-cell {
    -fx-text-fill: #1b1b18;
    -fx-font-family: "Cambria";
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.list-cell:selected {
    -fx-background-color:  #fd6c2e;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color:  #faaa68;
    -fx-text-fill: #1b1b18;
}

.list-cell:empty:hover {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: #faf2ed;
    -fx-background-radius: 5px;
}

.scroll-bar .thumb {
    -fx-background-color: #faaa68;
    -fx-background-radius: 5px;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #fd6c2e;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
}
