.button {
    -fx-background-color: #2e3c55;
    -fx-font-family: "Bungee";
    -fx-font-size: 16;
    -fx-text-fill: #fbf2ec;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: none;
}

.button:hover {
    -fx-text-fill: #faaa68;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 4, 4);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
